{% extends 'base_base.html' %}

{% block sidebar %}
{% endblock %}
{% block content %}
<div id="main-content" style="margin:0;">
	<div class="container-fluid">
		<div class="span12">
			<div class="space5"></div>
      <h5 class="pull-right">Хүснэгт № 9</h5>
      <div class="space5"></div>
      <h5 class="pull-right">Үйл ажиллагааны тайлан</h5>
			<h5>"{{ baiguullaga }}" {{ baiguullaga.org_type }}-ний  Ус түгээх байрны судалгаа</h5>
			<table class="table table-bordered table-striped table-fixed-header">
				<thead class="header">
					<tr>
						<th>Байршил</th>
						<th>Ус түгээх байрны дугаар (нэр)</th>
						<th>УТБ-р үйлчлүүлж буй хүн амын тоо</th>
						<th>УТБ-р борлуулж буй ус (м3/хон)</th>
						<th>Дэлгэрэнгүй</th>
					</tr>
				</thead>
				<tbody>
					{% for i in object_list %}
					<tr>
						<td>{{i.city}}<br>{{i.district}}<br>{{i.khoroo}}<br>{{i.ustugeeh_address}}</td>
						<td>{{i.dugaar}}</td>
						<td>{{i.hun_amiin_too}}</td>
						<td>{{i.borluulj_bui_us}}</td>
						{% if is_history %}
			          	<td><a href="javascript:;" class="ajax_div_load" url-data="{% url 'tze_us_tugeeh_delgerengui' i.id history_date.year history_date.month history_date.day history_date.hour history_date.minute %}">Дэлгэрэнгүй...</a></td>
			          	{% else %}
			          	<td><a href="javascript:;" class="ajax_div_load" url-data="{% url 'tze_us_tugeeh_delgerengui' i.id %}">Дэлгэрэнгүй...</a></td>
			          	{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
      <div class="space5"></div>
      <div class="span4 offset2">
      <h5>"{{ baiguullaga }}" {{ baiguullaga.org_type }}-ний  Захирал ..................../..................../</h5>
      <h5>Ерөнхий инженер............./..................../</h5>
  		<h5> </h5>
      </div>
		</div>
	</div>
</div>
<!-- ****************************MODALS*************************-->
  <div id="Modal_general" class="modal1-uuganaa">
    
  </div>
{% endblock %}
