{% load static %}
<div class="modal1-uuganaa-header">
  <button class="close">&times</button>
 <h4>Лабораторийн мэдээлэл нэмэх</h4>
</div>
<form action="{% url 'lab_insert' %}" success-div-id="#huselt_delgerengui_div" id="form_id" method="POST" enctype="multipart/form-data"> {% csrf_token %}
  <div class="modal1-uuganaa-body">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
         {% for fd in form %}

         <div class="control-group">
          <label class="control-label">{{ fd.label }}</label>
          <div class="controls">
            {{ fd.errors }}{{ fd }}
          </div>
        </div>
        {% endfor %}
      </div> <!--row-fluid-->
      <div class="row-fluid">
        <h4>Лабораторийн тоног төхөөрөмжийн жагсаалт</h4>
        <table class="table table-bordered" id="lab_bagaj_table">
          <thead>
            <tr>
              <th width="10px">№</th>
              {% for form in formset.forms %}
                {% if forloop.first %}
                  {% for field in form.visible_fields %}
                    {% if field == form.DELETE %}
                    <th style="display: none;">{{field.label_tag}}</th>
                    {% else %}
                    <th>{{field.label_tag}}</th>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset.forms %}
            <tr>
              <td>{{forloop.counter}}</td>
              {% for field in form %}
                {% if field == form.DELETE or field == form.id %}
                <td style="display: none;">
                    {{ field }}
                </td>
                {% else %}
                <td>
                    {{field.errors}}{{ field }}
                </td>
                {% endif %}
              {% endfor %}
              {% if formset.can_delete %}
              <td>{{ form.DELETE }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {{ formset.management_form }}

        <h4>Хэрэгжсэн төсөл, хөтөлбөрийн жагсаалт</h4>
        <table class="table table-bordered" id="lab_orgotgol_table">
          <thead>
            <tr>
              <th width="10px">№</th>
              {% for form in formset1.forms %}
                {% if forloop.first %}
                  {% for field in form.visible_fields %}
                    {% if field == form.DELETE %}
                    <th style="display: none;">{{field.label_tag}}</th>
                    {% else %}
                    <th>{{field.label_tag}}</th>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset1.forms %}
            <tr>
              <td>{{forloop.counter}}</td>
              {% for field in form %}
                {% if field == form.DELETE or field == form.id %}
                <td style="display: none;">
                    {{ field }}
                </td>
                {% else %}
                <td>
                    {{field.errors}}{{ field }}
                </td>
                {% endif %}
              {% endfor %}
              {% if formset1.can_delete %}
              <td>{{ form.DELETE }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {{ formset1.management_form }}
      </div>
    </div> <!-- span 12 -->
  </div><!-- row-fluid -->
</div>

<div class="modal1-uuganaa-footer">
  <a class="btn btn-default" data-data="modal" aria-hidden="true">Цуцлах</a>
  <button class="btn btn-success" onclick="submit_tz_choose_form('#form_id')">Хадгалах</button>
</div>
</form>   

<script src="{% static 'assets/js/jquery-1.8.3.min.js' %}"></script>
<script src="{% static 'assets/js/submit_form.js' %}"></script>
<script src="{% static 'assets/js/a.js' %}"></script>
<script src="{% static 'assets/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
$('#lab_bagaj_table tbody tr').formset({
  'table_numbering': true,
  'addText': 'Нэмэх',
  'deleteText': 'Устгах',
  'prefix': '{{formset.prefix}}',
  'formCssClass': 'dynamic-formset'
});
$('#lab_orgotgol_table tbody tr').formset({
  'table_numbering': true,
  'addText': 'Нэмэх',
  'deleteText': 'Устгах',
  'prefix': '{{formset1.prefix}}',
  'formCssClass': 'dynamic-formset1'
});
</script>
<script type="text/javascript">
function hide_show_tailbar(){
  var a=$('#id_ajillagaa').find("option:selected").text();
    if (a == "Бүрэн ажиллагаатай") {
      $('#id_tailbar').parent().parent().hide();
    }
    else if (a == "Хагас ажиллагаатай") {
      $('#id_tailbar').parent().parent().show();
    }
    else if (a == "Ажиллахгүй байгаа") {
      $('#id_tailbar').parent().parent().show();
    }
    else {
      $('#id_tailbar').parent().parent().hide();
    }
}
$(document).ready(function () {
  $("#id_tailbar").parent().parent().hide();
  hide_show_tailbar();
  $('#id_ajillagaa').change(function() {
    hide_show_tailbar();
  });
});
</script>



