{% load static %}

  <div class="modal1-uuganaa-header">
 <button class="close">&times</button>
   <h4>Цэвэр усны шинжилгээ нэмэх</h4>
 </div>
<form  id="form_id" action="{{view_url}}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
  <div class="modal1-uuganaa-body">
    <div class="row-fluid">
      <div class="span4">
        <div class="control-group">
          <label class="control-label">{{ form.torol.label }}</label>
          <div class="controls">
            {{ form.torol.errors }}{{ form.torol }}
          </div>
         </div>
      </div>
      <div class="span4">
        <div class="control-group">
          <label class="control-label">{{ form.mheg_dugnelt.label }}</label>
          <div class="controls">
            {{ form.mheg_dugnelt.errors }}{{ form.mheg_dugnelt }}
          </div>
         </div>
      </div>
      <div class="span4">
        <div class="control-group">
          <label class="control-label">{{ form.ognoo.label }}</label>
          <div class="controls">
            {{ form.ognoo.errors }}{{ form.ognoo }}
          </div>
         </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th rowspan="2">№</th>
              <th rowspan="2">Үзүүлэлтийн нэр</th>
              <th rowspan="2">Хэмжих нэгж</th>
              <th colspan="2">Савласан ус<br>MNS 5007:2007</th>
              <th rowspan="2">Ундны ус<br>MNS 0900:2010</th>
              <th rowspan="2">Шинжилгээний дүн</th>
            </tr>
            <tr>
            	<td>Цэвэр ус</td>
            	<td>Эрдэслэг ус</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>{{form.hatuulag.label}}</td>
              <td>Мг.экв/л</td>
              <td>&lt;1.0</td>
              <td>1.0-4.5</td>
              <td>&lt;7.0</td>
              <td>{{form.hatuulag.errors}}{{form.hatuulag}}</td>
            </tr>
            <tr>
              <td>2</td>
              <td>{{form.kalitsi.label}}</td>
              <td>мг/л</td>
              <td>&lt;20.0</td>
              <td>20-70</td>
              <td>&lt;100.0</td>
              <td>{{form.kalitsi.errors}}{{form.kalitsi}}</td>
            </tr>
            <tr>
              <td>3</td>
              <td>{{form.magni.label}}</td>
              <td>мг/л</td>
              <td>&lt;5.0</td>
              <td>2-18</td>
              <td>&lt;30.0</td>
              <td>{{form.magni.errors}}{{form.magni}}</td>
            </tr>
            <tr>
              <td>4</td>
              <td>{{form.hlorid.label}}</td>
              <td>мг/л</td>
              <td>&lt;15.0</td>
              <td>5-35</td>
              <td>&lt;350.0</td>
              <td>{{form.hlorid.errors}}{{form.hlorid}}</td>
            </tr>
            <tr>
              <td>5</td>
              <td>{{form.sulifat.label}}</td>
              <td>мг/л</td>
              <td>&lt;15.0</td>
              <td>10-80</td>
              <td>&lt;500.0</td>
              <td>{{form.sulifat.errors}}{{form.sulifat}}</td>
            </tr>
            <tr>
              <td>6</td>
              <td>{{form.fosfat.label}}</td>
              <td>мг/л</td>
              <td>-</td>
              <td>-</td>
              <td>&lt;3.5</td>
              <td>{{form.fosfat.errors}}{{form.fosfat}}</td>
            </tr>
            <tr>
              <td>7</td>
              <td>{{form.ammiak.label}}</td>
              <td>мг/л</td>
              <td>илрэхгүй</td>
              <td>илрэхгүй</td>
              <td>&lt;1.5</td>
              <td>{{form.ammiak.errors}}{{form.ammiak}}</td>
            </tr>
            <tr>
              <td>8</td>
              <td>{{form.nitrit.label}}</td>
              <td>мг/л</td>
              <td>илрэхгүй</td>
              <td>илрэхгүй</td>
              <td>&lt;1.0</td>
              <td>{{form.nitrit.errors}}{{form.nitrit}}</td>
            </tr>
            <tr>
              <td>9</td>
              <td>{{form.nitrat.label}}</td>
              <td>мг/л</td>
              <td>&lt;1.5</td>
              <td>3.5</td>
              <td>&lt;50.0</td>
              <td>{{form.nitrat.errors}}{{form.nitrat}}</td>
            </tr>
            <tr>
              <td>10</td>
              <td>{{form.tomor.label}}</td>
              <td>мг/л</td>
              <td>&lt;0.2</td>
              <td>&lt;0.2</td>
              <td>&lt;0.3</td>
              <td>{{form.tomor.errors}}{{form.tomor}}</td>
            </tr>
            <tr>
              <td>11</td>
              <td>{{form.ftor.label}}</td>
              <td>мг/л</td>
              <td>0.8-1.0</td>
              <td>0.8-1.0</td>
              <td>&lt;1.5</td>
              <td>{{form.ftor.errors}}{{form.ftor}}</td>
            </tr>
            <tr>
              <td>12</td>
              <td>{{form.ongo.label}}</td>
              <td>Градус</td>
              <td>Өнгөгүй</td>
              <td>Өнгөгүй</td>
              <td>&lt;20</td>
              <td>{{form.ongo.errors}}{{form.ongo}}</td>
            </tr>
            <tr>
              <td>13</td>
              <td>{{form.amt.label}}</td>
              <td>Оноо</td>
              <td>Амтгүй</td>
              <td>Амтгүй</td>
              <td>&lt;2</td>
              <td>{{form.amt.errors}}{{form.amt}}</td>
            </tr>
            <tr>
              <td>14</td>
              <td>{{form.uner.label}}</td>
              <td>Оноо</td>
              <td>Үнэргүй</td>
              <td>Үнэргүй</td>
              <td>&lt;2</td>
              <td>{{form.uner.errors}}{{form.uner}}</td>
            </tr>
            <tr>
              <td>15</td>
              <td>{{form.ph.label}}</td>
              <td></td>
              <td>6.5-8.5</td>
              <td>6.5-8.5</td>
              <td>6.5-8.5</td>
              <td>{{form.ph.errors}}{{form.ph}}</td>
            </tr>
            <tr>
              <td>16</td>
              <td>{{form.huurai_uldegdel.label}}</td>
              <td>мг/л</td>
              <td>&lt;100</td>
              <td>100-400</td>
              <td>&lt;1000.0</td>
              <td>{{form.huurai_uldegdel.errors}}{{form.huurai_uldegdel}}</td>
            </tr>
            <tr>
              <td>17</td>
              <td>{{form.iseldelt.label}}</td>
              <td>мг/л</td>
              <td>&lt;5.0</td>
              <td>&lt;6.0</td>
              <td>&lt;5.0</td>
              <td>{{form.iseldelt.errors}}{{form.iseldelt}}</td>
            </tr>
            <tr>
              <td>18</td>
              <td>{{form.natri.label}}</td>
              <td>мг/л</td>
              <td>&lt;10</td>
              <td>7.0-70</td>
              <td>&lt;200.0</td>
              <td>{{form.natri.errors}}{{form.natri}}</td>
            </tr>
            <tr>
              <td>19</td>
              <td>{{form.kali.label}}</td>
              <td>мг/л</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>{{form.kali.errors}}{{form.kali}}</td>
            </tr>
            <tr>
              <td>20</td>
              <td>{{form.gidro_carbonat.label}}</td>
              <td>мг/л</td>
              <td>&lt;100</td>
              <td>70-300</td>
              <td>-</td>
              <td>{{form.gidro_carbonat.errors}}{{form.gidro_carbonat}}</td>
            </tr>
            <tr>
              <td>21</td>
              <td>{{form.uldegdel_hlor.label}}</td>
              <td>мг/л</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>{{form.uldegdel_hlor.errors}}{{form.uldegdel_hlor}}</td>
            </tr>
            <tr>
              <td>22</td>
              <td>{{form.niit_hlor.label}}</td>
              <td>мг/л</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>{{form.niit_hlor.errors}}{{form.niit_hlor}}</td>
            </tr>
            <tr>
              <td>23</td>
              <td>{{form.niit_shultleg.label}}</td>
              <td>мг/л</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>{{form.niit_shultleg.errors}}{{form.niit_shultleg}}</td>
            </tr>
            <tr>
              <td>24</td>
              <td>{{form.nyan_1ml_us.label}}</td>
              <td>мг/л</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>{{form.nyan_1ml_us.errors}}{{form.nyan_1ml_us}}</td>
            </tr>
            <tr>
              <td>25</td>
              <td>{{form.nyan_haluund_tesvertei_100ml.label}}</td>
              <td>мг/л</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>{{form.nyan_haluund_tesvertei_100ml.errors}}{{form.nyan_haluund_tesvertei_100ml}}</td>
            </tr>
            <tr>
              <td>26</td>
              <td>{{form.e_coli_100ml_us.label}}</td>
              <td>мг/л</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>{{form.e_coli_100ml_us.errors}}{{form.e_coli_100ml_us}}</td>
            </tr>
          </tbody>
        </table>
      
      </div> <!-- span 12 -->
    </div><!-- row-fluid -->
  </div>

  <div class="modal1-uuganaa-footer">
    <a class="btn btn-default" data-data="modal" aria-hidden="true">Цуцлах</a>
    <button class="btn btn-success" onclick="submitForm_modal_general_ajax('#form_id')">Хадгалах</button>
  </div>
</form>   

<script src="{% static 'assets/js/submit_form.js' %}"></script>
<script src="{% static 'assets/js/a.js' %}"></script>




