{% load static %}
<div class="modal1-uuganaa-header">
    <button class="icon-remove close" style="float: right;"></button>
    <h4>{{header_text}}</h4>
</div>
<form id="form_id" action="{{view_url}}" method="POST"> {% csrf_token %}
    <div class="modal1-uuganaa-body">
      <div class="alert alert-block alert-error fade in">
        <h4 class="alert-heading">АНХААР!</h4>
        <p>
          {{anhaaruulga_msg}}
        </p>
      </div>
    </div>
    
      <div class="modal1-uuganaa-footer">
          <a class="btn btn-default" data-data="modal" aria-hidden="true">Хаах</a>
          <button type="submit" onclick="submitForm_modal_general_ajax('#form_id')" class="btn btn-danger">Цуцлах</button>
      </div>
  </form>

<script src="{% static 'assets/js/submit_form.js' %}"></script>
  <script src="{% static 'assets/js/a.js' %}"></script>