{% extends 'uta_sidebar.html' %}
{% load static %}
{% load tag_extras %}

{% block content %}
<div id="main-content">

  <div class="container-fluid">
    <div class="space20"></div>
    <div class="row-fluid">
      <div class="span12">

        <div class="span6">
         <div class="widget active red">
           <div class="widget-title">
            <h4>
              <i class="icon-reorder"></i>
              Гүйцэтгэл шалгуур үзүүлэлтийн мэдээлэл
            </h4>
            <span class="tools">
              <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
          </div>
          <div class="widget-body">

            <a href="{% url 'gshutailanhorvuuleh' %}" class="btn btn-success">Excel хөрвүүлэх</a>
       <div class="pull-right">
                {% if on %}
                <p>{{on}} оны Гүйцэтгэл шалгуур үзүүлэлтийн тайлан </p>
                {% else %}
                <p>Гүйцэтгэл шалгуур үзүүлэлтийн тайлан /Одоогийн байдлаар/ </p>
                {%endif%}
              </div>
            <p></p>
           
            <table class="table table-nemelt">
              <thead>
                <tr>
                  <th>№</th>
                  <th >НЭР</th>
                  <th>ТӨЛӨВ</th>
                </tr>
              </thead>
              <tbody>
                {% for i in tailans %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td><a target="_blank" href="/tza/uatailan/{{i.url}}/">{{i.material_name}} нэгтгэл</a></td>
                  <td>
                    {% if my_dict|get_item:i.id %}
                    <span class="label label-success label-mini">{{my_dict|get_item:i.id}}</span> {% else %}<span class="label label-important label-mini"> Боломжгүй</span>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
          </div>
        </div>

      </div>
      <div class="span6">
        <div class="widget active green">
          <div class="widget-title">
            <h4><i class="icon-reorder"></i>Гүйцэтгэл шалгуур үзүүлэлт</h4>
            <span class="tools">
              <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
          </div>
          <div class="widget-body form">
          
          <table class="table table-nemelt table-hover">
            <thead>
              <tr>
                <th>№</th>
                <th>НЭР</th>
                <th>ОН</th>
                <th>ИЛГЭЭСЭН ОГНОО</th>
              </tr>
            </thead>
            <tbody>
              {% for st in uatailan_filter %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td >
                  <a href="/tza/uatailan/{{st.tze.id}}/" >{{ st.tze }}</a>

                </td>
                <td>{{ st.on }}</td>
                <td>{{ st.begin_time }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %} 
