{% extends 'tza_darga_base.html' %}
{% load static %}
{% load tag_extras %}

{% block content %}
<div class="overlay"></div>
<div id="loadingDiv"><img class="ajax-loader" src="{% static 'assets/img/ajax_loader_blue_64.gif' %}"></div>
<div id="main-content">
  {% if messages %}
    <div class="feedback_messages">
        {% for message in messages %}
        <div {% if message.tags %}class="feedback_message_{{message.tags}}" {% else %} class="feedback_message_default" {% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    </div>
  {% endif %}
  <div class="container-fluid">
    <div class="space20"></div>
    <div class="row-fluid">
      <div class="span9">
        <div class="widget widget-tabs yellow active">
          <div class="widget-title">
            <h4><i class="icon-reorder"></i> Тусгай зөвшөөрлийн хүсэлтүүд</h4>
          </div>
          <div class="widget-body">
            {% if tz_huselts %}
            <div class="pull-right">
              <p>Нийт:{{tz_huselts|length}} </p>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>№</th>
                  <th >Байгууллага</th>
                  <th>Илгээсэн огноо</th>
                  <th>Хариуцсан ажилтан</th>
                  <th>Шалгалтын явц</th>
                  <th>Шалгалтын төлөв</th>
                  <th>Үйлдлүүд</th>
                  <th>Дэлгэрэнгүй</th>
                </tr>
              </thead>
              <tbody>
                {% for i in tz_huselts %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{i.tze}}</td>
                  <td>{{i.ilgeesen_datetime|date:"Y-m-d"}}</td>
                  <td>{{i.tza_mergejilten}}</td>
                  <td>материалын хэдэн хувь</td>
                  <td>{{i.yavts}}</td>
                  <td style="width: 130px;">
                    <button class="btn btn-success ajax_div_load tooltips" data-placement="bottom" data-original-title="Хуваарилах" url-data="{% url 'huselt huvaarilah' huselt_id=i.id %}">
                      <i class="icon-mail-forward"></i>
                    </button>
                    {% if i.is_ajliin_heseg_tovloh_bolomjtoi %}
                    <button class="btn btn-danger ajax_div_load tooltips" data-placement="bottom" data-original-title="Ажлын хэсэг очих өдрийг товлох" url-data="{% url 'ajliin heseg date tovloh' huselt_id=i.id %}">
                      <i class="icon-eye-open"></i>
                    </button>
                    {% endif %}
                    {% if i.is_hural_tovloh_bolomjtoi %}
                    <button class="btn btn-primary ajax_div_load tooltips" data-placement="bottom" data-original-title="Хурлыг товлох" url-data="{% url 'huseltiin hural tovloh' huselt_id=i.id %}">
                      <i class="icon-calendar"></i>
                    </button>
                    {% endif %}

                  </td>
                  <td><a href="javascript:;" class="ajax_div_load" url-data="{% url 'tz_huselt_detail_delgerengui' i.id %}">Дэлгэрэнгүй...</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="alert alert-info">Хүсэлт олдсонгүй.</div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="widget widget-tabs purple active">
          <div class="widget-title">
            <h4><i class="icon-filter"></i> Шүүлтүүр</h4>
          </div>
          <div class="widget-body">
            <form method="GET">
              <button type='submit' class="btn btn-primary">Шүүх</button>
              {% for f in filter_form %}
              <div class="form-group">
                {{f.label}}
                {{f}}
              </div>
              {% endfor %}
              <button type='submit' class="btn btn-primary">Шүүх</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>




      <!-- ****************************MODALS*************************-->
<div id="Modal_general" class="modal1-uuganaa">

</div>


<!-- ****************************MODALS END*************************-->

<script src="{% static 'assets/js/jquery-1.8.3.min.js' %}"></script>
<script src="{% static 'assets/js/ajax_modal_showing.js' %}"></script>

{% endblock %} 
