
{% load static %}
<div class="modal1-uuganaa-header">
    <button class="icon-remove close" style="float: right;"></button>
    <h4>Хүний нөөц</h4>
</div>

<div class="modal1-uuganaa-body">
  {% if tz_material_status_bind.status == 'Шаардлага хангаагүй' %}
  <div class="alert alert-error">
    {{ tz_material_status_bind.tatgalzsan_tailbar }}
  </div>
  {% endif %}


<table class="table table-bordered">
      <thead>
        <tr>
          <th >Овог</th>
          <th >Нэр</th>
          <th >РД</th>
          <th>Утас</th>
          <th >Нас</th>
          <th>Хүйс</th>
          <th>Бүртгэгдсэн огноо</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for i in burdel_history.ajiltans.all %}
        <tr>
          <td >{{i.emp_lname}} </td>
          <td>{{i.emp_name}}</td>
          <td>{{i.emp_reg}}</td>
          <td>{{i.phone}}</td>
          <td>{{i.nas}}</td>
          <td>{{i.gender}}</td>
          <td>{{i.begin_time|date:"Y-m-d H:i"}}</td>
          <td><a href="javascript:;" class="ajax_div_load" url-data="{% url 'tze_ajiltan_delgerengui' i.id burdel_history.ilgeesen_datetime.year burdel_history.ilgeesen_datetime.month burdel_history.ilgeesen_datetime.day burdel_history.ilgeesen_datetime.hour burdel_history.ilgeesen_datetime.minute  %}">Дэлгэрэнгүй...</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="modal1-uuganaa-footer">
    <button class="btn btn-default div-close-button">Хаах</button>
    {% if burdel_history.now_checking %}
      {% if material_angilal == 3 %}
        {% if not burdel_history.hzm_check_finished and perms.auth.hzm_mergejilten_permission %}
        <button class="btn btn-primary ajax_div_load" url-data='{{material_check_url}}'>Статус өөрчлөх</button>
        {% endif %}
      {% elif material_angilal == 2 %}
        {% if not burdel_history.uta_check_finished and perms.auth.uta_mergejilten_permission %}
        <button class="btn btn-primary ajax_div_load" url-data='{{material_check_url}}'>Статус өөрчлөх</button>
        {% endif %}
      {% elif material_angilal == 1 %}
        {% if not burdel_history.tza_check_finished and perms.auth.tza_mergejilten_permission %}
        <button class="btn btn-primary ajax_div_load" url-data='{{material_check_url}}'>Статус өөрчлөх</button>
        {% endif %}
      {% endif %}
    {% endif %}
</div>