
{% load static %}
<div class="modal1-uuganaa-header">
    <button class="icon-remove close" style="float: right;"></button>
    <h4>Бохир усны шинжилгээ:</h4>
</div>

<div class="modal1-uuganaa-body">
  {% if tz_material_status_bind.status == 'Шаардлага хангаагүй' %}
  <div class="alert alert-error">
    {{ tz_material_status_bind.tatgalzsan_tailbar }}
  </div>
  {% endif %}


 <table class="table table-bordered">
 	<thead>
 		<th>Огноо</th>
 		<th>МХЕГ-ын дүгнэлт</th>
 		<th>Дэлгэрэнгүй</th>
 	</thead>
 	<tbody>
 		<td>{{history_burdel.bohir_shinjilgee.ognoo|date:"Y-m-d"}}</td>
 		<td><a href="/media/{{history_burdel.bohir_shinjilgee.mheg_dugnelt}}" target="_blank">МХЕГ-ын дүгнэлт файл</a></td>
 		<td><a href="javascript:;" class="ajax_div_load" url-data="{% url 'tz_huselt_bohir_shijilgee_delgerengui' history_burdel.bohir_shinjilgee.id %}">Дэлгэрэнгүй...</a></td>
 	</tbody>
 </table>
</div>

<div class="modal1-uuganaa-footer">
    <button class="btn btn-default div-close-button">Хаах</button>
    {% if burdel_history.now_checking %}
      {% if material_angilal == 3 %}
        {% if not burdel_history.hzm_check_finished and perms.auth.hzm_mergejilten_permission %}
        <button class="btn btn-primary ajax_div_load" url-data='{{material_check_url}}'>Статус өөрчлөх</button>
        {% endif %}
      {% elif material_angilal == 2 %}
        {% if not burdel_history.uta_check_finished and perms.auth.uta_mergejilten_permission %}
        <button class="btn btn-primary ajax_div_load" url-data='{{material_check_url}}'>Статус өөрчлөх</button>
        {% endif %}
      {% elif material_angilal == 1 %}
        {% if not burdel_history.tza_check_finished and perms.auth.tza_mergejilten_permission %}
        <button class="btn btn-primary ajax_div_load" url-data='{{material_check_url}}'>Статус өөрчлөх</button>
        {% endif %}
      {% endif %}
    {% endif %}
</div>




