<div class="modal1-uuganaa-header">
  <button class="close">×</button>
  <h4>Татварын зардал/ААНОАТ-аас бусад/</h4>
</div>
<div class="modal1-uuganaa-body">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="3"></th>
        <th rowspan="3">Хэмжих нэгж</th>
        <th colspan="4" style="text-align: center;">Цэвэр, бохир ус</th>
        <th rowspan="3">Цахилгаан</th>
        <th rowspan="3">Дулаан</th>
        <th rowspan="3">Бусад</th>
        <th rowspan="3">Нийт</th>
      </tr>
      <tr>
        <th colspan="2">Төвлөрсөн шугамын</th>
        <th rowspan="2">Зөөвөр, УТБ</th>
        <th width="120" rowspan="2">Бусад (Бохир өргөх насос, г,м)</th>
      </tr>
      <tr>
        <th>Цэвэр ус</th>
        <th>Бохир ус</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Газрын татвар</td>
        <td>мян.төгрөг</td>
        {% for z14 in tailan.zardal.z14.tatvar.all %}
        <td>{{ z14.gazriin_tatvar }}</td>
        {% endfor %}
        <th>{{ tailan.zardal.z14.total0 }}</th>
      </tr>
      <tr>
        <td>Үл хөдлөх хөрөнгийн татвар</td>
        <td>мян.төгрөг</td>
        {% for z14 in tailan.zardal.z14.tatvar.all %}
        <td>{{ z14.ul_hodloh_horongiin_tatvar }}</td>
        {% endfor %}
        <th>{{ tailan.zardal.z14.total1 }}</th>
      </tr>
      <tr>
        <td>Тээврийн хэрэгслийн татвар</td>
        <td>мян.төгрөг</td>
        {% for z14 in tailan.zardal.z14.tatvar.all %}
        <td>{{ z14.teevriin_heregsliin_tatvar }}</td>
        {% endfor %}
        <th>{{ tailan.zardal.z14.total2 }}</th>
      </tr>
      <tr>
        <td>Бусад</td>
        <td>мян.төгрөг</td>
        {% for z14 in tailan.zardal.z14.tatvar.all %}
        <td>{{ z14.busad }}</td>
        {% endfor %}
        <th>{{ tailan.zardal.z14.total3 }}</th>
      </tr>
      <tr>
        <th>Нийт</th>
        <th>мян.төгрөг</th>
        <th>{{ tailan.zardal.z14.sum0 }}</th>
        <th>{{ tailan.zardal.z14.sum1 }}</th>
        <th>{{ tailan.zardal.z14.sum2 }}</th>
        <th>{{ tailan.zardal.z14.sum3 }}</th>
        <th>{{ tailan.zardal.z14.sum4 }}</th>
        <th>{{ tailan.zardal.z14.sum5 }}</th>
        <th>{{ tailan.zardal.z14.sum6 }}</th>
        <th>{{ tailan.zardal.z14.total }}</th>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal1-uuganaa-footer">
  <button data-data="close" class="btn btn-default">Цуцлах</button>
  <button url-data="{% if date %}{% url 'zardal14' date %}{% else %}{% url 'zardal14' %}{% endif %}"class="btn btn-primary ajax_div_load">Засварлах</button>
</div>