{% extends 'hzm_sidebar.html' %}
{% load static %}

{% block content %}
<div id="main-content">
  <div class="container-fluid">  
    <div class="space20"></div> 
    <div class="row-fluid">
      <div class="span4">
        <a class="btn btn-info" href="{% url 'baiguullaga_profile' tze_id %}">Профайл</a>
        <a class="btn btn-info" href="{% url 'ajiltan' tze_id %}">Хүний нөөц</a>
        <a class="btn btn-info" href="{% url 'tohooromj_menu' tze_id %}">Тоног төхөөрөмж</a>
      </div>
      <div class="span8">
        <form method="GET">
          {% for f in filter_form %}
            {{f.label}}
            {{f}}
          {% endfor %}
          <button style="margin-bottom: 10px;" type='submit' class="btn btn-primary">Хайх</button>
        </form>
      </div>
    </div>

    <div class="row-fluid">
      {% if tze %}
      <div class="alert alert-info">
        {% if history_date %}
        {{tze.org_name}} компанийн {{history_date|date:"Y-m-d H:i"}} үеийн мэдээлэл
        {% else %}
        {{tze.org_name}} компанийн мэдээлэл
        {% endif %}
      </div>
      {% endif %}
    <div class="row-fluid" id="message">
      <div class="span12">
        <div class="metro-nav">
          <div class="metro-nav-block nav-block-orange double ajax_delgerengui_load" url-data="{{url0}}", div-id="#ajiltan_list">
            <a>
              <i class="icon-user"></i>
              <div class="info">+{{ tasag.count }}</div>
              <div class="status">Байгууллагын алба хэлтэс</div>
            </a>
          </div>
          <div class="metro-nav-block nav-block-red half ajax_delgerengui_load" url-data="{{url1}}", div-id="#ajiltan_list">
            <a>
              <i class="icon-user"></i>
              <div class="info">+{{ niit_ajiltan_count }}</div>
              <div class="status">Нийт ажилчид</div>
            </a>
          </div>
          <div class="metro-nav-block nav-light-purple half ajax_delgerengui_load" url-data="{{url2}}", div-id="#ajiltan_list">
            <a>
              <i class="icon-user"></i>
              <div class="info">+{{ udirdah_ajiltan_count }}</div>
              <div class="status">Удирдах ажилчид</div>
            </a>
          </div>
          <div class="metro-nav-block nav-block-yellow half ajax_delgerengui_load" url-data="{{url3}}", div-id="#ajiltan_list">
            <a>
              <i class="icon-user"></i>
              <div class="info">+{{ engineer_ajiltan_count }}</div>
              <div class="status">Инженер техникийн ажилчид</div>
            </a>
          </div>
          <div class="metro-nav-block nav-light-green half ajax_delgerengui_load" url-data="{{url4}}", div-id="#ajiltan_list">
            <a>
              <i class="icon-user"></i>
              <div class="info">+{{ mergejliin_ajiltan_count }}</div>
              <div class="status">Мэргэжлийн ажилчид</div>
            </a>
          </div>
          <div class="metro-nav-block nav-block-red half ajax_delgerengui_load" url-data="{{url5}}", div-id="#ajiltan_list">
            <a>
              <i class="icon-user"></i>
              <div class="info">+{{ busad_ajiltan_count }}</div>
              <div class="status">Бусад ажилчид</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="space20"></div>
    <div class="row-fluid" id="ajiltan_list">
      <div class="span9">
        <div class="widget purple active">
          <div class="widget-title">
                <h4><i class="icon-reorder"></i>Нийт ажилчдын жагсаалт</h4>
            </div>
            <div class="widget-body">

              {% if object_list %}
              <table class="table table-bordered">
                <thead>
                  <tr>
                      <th>№</th>
                      <th>Овог</th>
                      <th>Нэр</th>
                      <th>Төрсөн огноо</th>
                      <th>Албан тушаал</th>
                      <th>Дэлгэрэнгүй</th>
                    </tr>
                </thead>
                <tbody>
                  {% for i in object_list %}
                  <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.emp_lname}}</td>
                      <td>{{i.emp_name}}</td>
                      <td>{{i.emp_birth|date:"Y-m-d"}}</td>
                      <td>{{i.alban_tushaal}}</td>
                      {% if is_history %}
                      <td><a class="ajax_div_load" url-data="{% url 'tza_ajiltan_delgerengui' i.id history_date.year history_date.month history_date.day history_date.hour history_date.minute %}">Дэлгэрэнгүй...</a></td>
                      {% else %}
                      <td><a class="ajax_div_load" url-data="{% url 'tza_ajiltan_delgerengui' i.id %}">Дэлгэрэнгүй...</a></td>
                      {% endif %}
                     </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <div class='alert alert-info'>
                Мэдээлэл олдсонгүй.
              </div>
              {% endif %}
            </div>
        </div>
      </div>
      <div class="span3">
        <div class="widget purple active">
          <div class="widget-title">
            <h4><i class="icon-filter"></i>Шүүлтүүр</h4>
          </div>
          <div class="widget-body">
            <form method="GET" id="filter_form">
                    {% for f in filter_form %}
                    <div class="form-group">
                      {{f.label}}
                      {{f}}
                    </div>
                    {% endfor %}
                    <button type='submit' class="btn btn-primary">Шүүх</button>
                  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ажилтан засварлах -->






<!-- ****************************MODALS*************************-->
  <div id="Modal_general" class="modal1-uuganaa">
    
  </div>

<script>
  $( "#id_date" ).datepicker({
    format: "yyyy-mm-dd",
  });
  $("#id_time").timepicker({
    minuteStep: 1,
    showMeridian: false,
  });
</script>
{% endblock %} 