<div class="span5">
    <div class="widget red active">
        <div class="widget-title">
            <h4>Тайлан хаагдсан</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
        </div>
        <div class="widget-body">
            <button class="btn btn-disabled">Илгээх</button>
            <div class="clearfix pull-right">
                <div class="btn-group">
                    <button class="btn btn-primary" style="background-color:#E74955;">Тайлантай холбоотой тохиргоо <i class="icon-angle-down"></i></button>
                </div>
                <div class="space10"></div>
                <div class="btn-group pull-right">
                    <button class="btn btn-info" style="background-color:#E74955;">Тариф <i class="icon-angle-down"></i></button>
                </div>
            </div>
            <div class="space20"></div>
            <table class="table table-nemelt">
                <thead>
                    <tr>
                        <th>ТАЙЛАН</th>
                        <th class="nem">НЭР</th>
                        <th>ТӨЛӨВ</th>
                    </tr>    
                </thead>
                <tbody>
                    <tr>
                        <td class="nem">Орлого</td>
                        <td><p>ААНБайгууллага</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td rowspan="19" class="nem">Зардал</td>
                        <td><p>Үндсэн материадын зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Цалингийн зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Ашиглалтын зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Засвар үйлчилгээний зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Ариутгал халдваргүйжүүлэлтийн зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Албан хэрэгцээний зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Хөдөлмөр хамгаалал, эрүүл ахуйн зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Маркетинг борлуулалтын зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Лабораторын зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Гүйцэтгэх удирдлагын зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>ТУЗ-н зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Үндсэн хөрөнгийн элэгдэл зардал зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Гадны үйлчилгээний зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Татварын зардал/ААНОАТ-аас бусад/</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Даатгалын зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Бусад зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Ажиллагсдын нийгмийн зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Хөрөнгө оруулалтын зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                    <tr>
                        <td><p>Үндсэн бус үйл ажиллагааны зардал</p></td>
                        <td><span class="label label-important label-mini">Хаагдсан</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>