{% extends 'husnegt/husnegt1.html' %}
{% block content %}
<div id="main-content" style="margin-left: 0px;">
	<div class="container-fluid">
		<div class="span12">
			<div class="space5"></div>
      <h5 class="pull-right">Хүснэгт1</h5>
      <div class="space5"></div>
      <h5 class="pull-right">Санхүү эдийн засгийн судалгаа</h5>
			<h5>"..............................................." .......ХК-ний Нийт үйл ажиллагааны Санхүү - эдийн засгийн үндсэн үзүүлэлтүүд /ТЭЗҮ/</h5>
			<table class="table table-bordered table-striped table-fixed-header">
				<thead class="header">
		<tr>
			<th rowspan="2">№</th> <th rowspan="2">Зардлын төрөл</th> <th rowspan="2">Хэмжих нэгж</th> <th rowspan="2">Өмнөх оны гүйцэтгэл</th> <th colspan="2">Тухайн оны жилийн дүнгээр</th> <th colspan="2">Өөрчлөлт</th>
		</tr>
		<tr>
			<th>Төлөвлөгөө</th> <th>Гүйцэтгэл</th> <th>өмнөх оноос</th> <th>Төлөвлөгөөнөөс</th>
		</tr>
		</thead>
		<tr>
			<td rowspan="10">1</td><td>Ажиллагсадын тоо</td> <td>тоо</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Үүнээс-Үндсэн цалин</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>-Нэмэгдэл</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>-Сарын үр дүн</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Жилийн үр дүнгийн шагналт цалин</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Нийт цалингийн сан</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Нэмэгдэл цалингийн эзлэх хувь</td> <td>%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Сарын шагналт цалингийн хувь</td> <td>%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>ЖҮДШ цалингийн дундаж хэмжээ</td> <td>сар</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Дундаж цалин /сарын/</td> <td>төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		
		<tr>
			<td rowspan="10">2</td><td>Удирдлага</td> <td>тоо</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Үүнээс-Үндсэн цалин</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>-Нэмэгдэл</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>-Сарын үр дүн</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Жилийн үр дүнгийн шагналт цалин</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Нийт цалингийн сан</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Нэмэгдэл цалингийн эзлэх хувь</td> <td>%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Сарын шагналт цалингийн хувь</td> <td>%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>ЖҮДШ цалингийн дундаж хэмжээ</td> <td>сар</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Дундаж цалин /сарын/</td> <td>төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		
		<tr>
			<td rowspan="10">3</td><td>ИТА, Албан хаагч</td> <td>тоо</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Үүнээс-Үндсэн цалин</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>-Нэмэгдэл</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>-Сарын үр дүн</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Жилийн үр дүнгийн шагналт цалин</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Нийт цалингийн сан</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Нэмэгдэл цалингийн эзлэх хувь</td> <td>%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Сарын шагналт цалингийн хувь</td> <td>%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>ЖҮДШ цалингийн дундаж хэмжээ</td> <td>сар</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Дундаж цалин /сарын/</td> <td>төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		
		<tr>
			<td rowspan="10">4</td><td>Ажилчид</td> <td>тоо</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Үүнээс-Үндсэн цалин</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>-Нэмэгдэл</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>-Сарын үр дүн</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Жилийн үр дүнгийн шагналт цалин</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Нийт цалингийн сан</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Нэмэгдэл цалингийн эзлэх хувь</td> <td>%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Сарын шагналт цалингийн хувь</td> <td>%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>ЖҮДШ цалингийн дундаж хэмжээ</td> <td>сар</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Дундаж цалин /сарын/</td> <td>төг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
	</table>
	</div>
	</div>
	</div>
{% endblock %}