{% extends 'husnegt/husnegt1.html' %}
{% block content %}
<div id="main-content" style="margin-left: 0px;">
	<div class="container-fluid">
		<div class="span12">
			<div class="space5"></div>
      <h5 class="pull-right">Хүснэгт1</h5>
      <div class="space5"></div>
      <h5 class="pull-right">Санхүү эдийн засгийн судалгаа</h5>
			<h5>"..............................................." .......ХК-ний Нийт үйл ажиллагааны Санхүү - эдийн засгийн үндсэн үзүүлэлтүүд /ТЭЗҮ/</h5>
			<table class="table table-bordered table-striped table-fixed-header">
				<thead class="header">
<tr>
			<th>№</th> <th colspan="2">Үзүүлэлтүүд</th> <th>Хэмжих нэгж</th> <th>Цэвэр ус</th> <th>Бохир ус</th>
		</tr>
		</thead>
		<tr>
			<td rowspan="12">1</td> <td colspan="2">Тухайн байгууллагаар үйлчлүүлж буй нийт хэрэглэгч:</td> <td>тоо</td> <td></td> <td></td>
		</tr>
		<tr>
			<td rowspan="4">ААНБ-н хэрэглэгч</td> <td>тоолууртай</td> <td>тоо</td> <td></td> <td></td>
		</tr>
		<tr>
			<td>тоолуургүй</td> <td>тоо</td> <td></td> <td></td>
		</tr>
		<tr>
			<td>зөөврөөр</td> <td>тоо</td> <td></td> <td></td>
		</tr>
		<tr>
			<td>ААНБ-н нийт дүн</td> <td>тоо</td> <td></td> <td></td>
		</tr>
		<tr>
			<td rowspan="7">Ахуйн хэрэглэгч</td> <td>Үүнээс: Хүн ам /орон сууц/</td> <td>өрх</td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Айл өрх /тоолууртай/</td> <td>өрх</td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Айл өрх /тоолуургүй/</td> <td>өрх</td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Хүн ам /гэр хороолол/</td> <td>өрх</td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Айл өрх /зөөврөөр/</td> <td>өрх</td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Айл өрх /Ус түгээх байрнаас/</td> <td>өрх</td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Ахуйн нийт дүн</td> <td>өрх</td> <td></td> <td></td>
		</tr>
		
		
		<tr>
			<td rowspan="12">2</td> <td colspan="2">Нийт борлуулсан ус - биетээр</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td rowspan="4">ААНБ-н хэрэглэгч</td> <td>тоолууртай</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>тоолуургүй</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>зөөврөөр</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>ААНБ-н нийт дүн</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td rowspan="7">Ахуйн хэрэглэгч</td> <td>Үүнээс: Хүн ам /орон сууц/</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Айл өрх /тоолууртай/</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Айл өрх /тоолуургүй/</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Хүн ам /гэр хороолол/</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Айл өрх /зөөврөөр/</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Айл өрх /Ус түгээх байрнаас/</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Ахуйн нийт дүн</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td>
		</tr>
		
	</table>
	</div>
	</div>
	</div>
	{% endblock %}