{% extends 'husnegt/husnegt1.html' %}
{% block content %}
<div id="main-content" style="margin-left: 0px;">
	<div class="container-fluid">
		<div class="span12">
			<div class="space5"></div>
      <h5 class="pull-right">Хүснэгт1</h5>
      <div class="space5"></div>
      <h5 class="pull-right">Санхүү эдийн засгийн судалгаа</h5>
			<h5>"..............................................." .......ХК-ний Нийт үйл ажиллагааны Санхүү - эдийн засгийн үндсэн үзүүлэлтүүд /ТЭЗҮ/</h5>
			<table class="table table-bordered table-striped table-fixed-header">
				<thead class="header">
		<tr>
			<th rowspan="2">№</th> <th rowspan="2" colspan="2">Үзүүлэлт</th> <th rowspan="2">Хэмжих нэгж</th> <th rowspan="2">Өмнөх оны гүйцэтгэл</th> <th colspan="2">Тухайн оны жилийн дүнгээр</th>
		</tr>
		<tr>
			<th>Төлөвлөгөө</th> <th>Гүйцэтгэл</th>
		</tr>
	</thead>
		<tr>
			<td>1</td> <td colspan="2">Тусгай зөвшөөрлийн үйл ажиллагааны НИЙТ ОРЛОГО</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1</td> <td colspan="2">Цэвэр усны орлогын дүн</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.1</td> <td colspan="2">ААНБ-ын хэрэглэгч</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.2</td> <td colspan="2">Ахуйн хэрэглэгч</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2</td> <td colspan="2">Бохир усны орлогын дүн</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.1</td> <td colspan="2">ААНБ-н хэрэглэгч</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.2</td> <td colspan="2">Ахуйн хэрэглэгч</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>3.3</td> <td colspan="2">Суурь хураамжийн орлого</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>3.3.1</td> <td colspan="2">ААНБайгууллагын</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>3.3.2</td> <td colspan="2">Айл өрхийн</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.4</td> <td colspan="2">Бусад орлогын дүн</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.4.1</td> <td colspan="2">Засвар үйлчилгээний орлого</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.4.2</td> <td colspan="2">Орон нутгийн санхүүжилт (татаас)</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.4.3</td> <td colspan="2">Үйл ажиллагааны бусад орлого</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2</td> <td colspan="2">Тусгай зөвшөөрлийн үйл ажиллагааны НИЙТ ЗАРДАЛ</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.1</td> <td colspan="2">Цэвэр ус - худалдан авалт</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.2</td> <td colspan="2">Бохир ус - худалдан авалт</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.3</td> <td colspan="2">Зөөврийн ус хангамж, бохир татах зардал</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.4</td> <td colspan="2">Цалин, НДШ-н зардал</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.5</td> <td colspan="2">Засвар сэлбэгийн зардал</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.6</td> <td colspan="2">Ашиглалтын зардал /эрчим хүч, шатахуун/</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.7</td> <td colspan="2">Контор, хангамжийн зардал</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.8</td> <td colspan="2">Элэгдлийн зардал</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.9</td> <td colspan="2">Ажиллагсадын нийгэм хангамжийн зардал</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.10</td> <td colspan="2">Татвар, хураамж, гадны үйлчилгээний зардал</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2.11</td> <td colspan="2">Үйл ажиллагааны бусад зардал</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>3</td> <td colspan="2">Тусгай зөвшөөрлийн үйл ажиллагааны АШИГ АЛДАГДАЛ</td> <td>мян.төг</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>4</td> <td colspan="6">Биет үзүүлэлтээр</td> 
		</tr>
		<tr>
			<td rowspan="4">4.1</td> <td rowspan="4">Цэвэр ус хангамж</td> <td>Олборлосон, худалдан авсан</td> <td>м3</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Борлуулсан</td> <td>м3</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Усны алдагдал</td> <td>м3</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Усны алдагдал</td> <td>%</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td rowspan="3">4.2</td> <td rowspan="3">Татан зайлуулсан бохир ус</td> <td>төвлөрсөн шугамаар</td> <td>м3</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Зөөврөөр</td> <td>м3</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Цэвэрлэсэн бохир ус</td> <td>м3</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td rowspan="4">5</td> <td rowspan="4">Борлуулалтын дундаж үнэ</td> <td>Цэвэр ус</td> <td>төг/л</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Бохир ус-төвлөрсөн шугам</td> <td>төг/л</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Зөөврийн ус (машинаар)</td> <td>төг/л</td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>Ус түгээх байрнаас</td> <td>төг/л</td> <td></td> <td></td> <td></td>
		</tr>
			</table>
		</div>
	</div>
</div>
<table border = 1px>
	
	</table>	
{% endblock %}