{% extends 'husnegt/husnegt1.html' %}
{% block content %}
<div id="main-content" style="margin-left: 0px;">
	<div class="container-fluid">
		<div class="span12">
			<div class="space5"></div>
      <h5 class="pull-right">Хүснэгт1</h5>
      <div class="space5"></div>
      <h5 class="pull-right">Санхүү эдийн засгийн судалгаа</h5>
			<h5>"..............................................." .......ХК-ний Нийт үйл ажиллагааны Санхүү - эдийн засгийн үндсэн үзүүлэлтүүд /ТЭЗҮ/</h5>
			<table class="table table-bordered table-striped table-fixed-header">
				<thead class="header">
		<tr>
			<th>№</th> <th>Цэвэр усны оролтын шугамын голч, мм-р</th> <th>ААНБ-н тоо</th> <th>нэгж үнэ</th> <th>1 сарын орлогын дүн мян.төг</th> <th>2014-оны орлогын дүн мян.төг</th>
		</tr>
		</thead>
		<tr>
			<td>1</td> <td>15</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2</td> <td>20</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>3</td> <td>25</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>4</td> <td>32</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>5</td> <td>40</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>6</td> <td>50</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>7</td> <td>65</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>8</td> <td>80</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>9</td> <td>100</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>10</td> <td>125</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>11</td> <td>150</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>12</td> <td>200</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>13</td> <td>250</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>14</td> <td>300</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>15</td> <td>400, -с дээш</td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td colspan="2">НИЙТ ДҮН</td>  <td></td> <td></td> <td></td> <td></td>
		</tr>
	
	</table>
	</div>
	</div>
	</div>
	
{% endblock %}