{% extends 'base_base.html' %}
{% block sidebar %}
<div class="sidebar-scroll">
    <div id="sidebar" class="nav-collapse collapse">
        <ul class="sidebar-menu">
            <li class="sub-menu active">
                <a>
                    <i class=" icon-cog"></i>
                    <span>Хүсэлт</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    {% if user.has_uta_darga_permission %}
                    <li><a href="{% url 'uta darga huselt huvaarilah' %}">ТЗ хуваарьлах</a></li>
                    {% endif %}
                    <li><a href="{% url 'uta huselt check' %}">ТЗ хүсэлт шалгах</a></li>
                    <li class="active"><a href="{% url 'sudalgaa_list' %}">Судалгаа шалгах</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="{% url 'check_sez' %}" class="">
                    <i class=" icon-cog"></i>
                    <span>Шалгах</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="">
                    <i class=" icon-cog"></i>
                    <span>ТЗ Эзэмшигч</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li class="sub"><a href="/uta/baiguullaga/">Байгууллага</a></li>
                    <li><a href="/uta/ajiltan/">Хүний нөөц</a></li>
                    <li><a href="/uta/tohooromj/">Тоног төхөөрөмж</a></li>
                    <li><a href="{% url 'uta_tz_gerchilgee_list' %}">ТЗ гэрчилгээ</a></li>
                </ul>
            </li>       
            <li class="sub-menu">
                <a class="">
                    <i class=" icon-cog"></i>
                    <span>Тайлан</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                  <li><a href="{% url 'uta_report' %}">СЭЗ тайлан</a></li>
                  <li><a href="{% url 'uta_gshu_menu' %}">Гүйцэтгэлийн шалгуур үзүүлэлт</a></li>
                  <li><a href="javascript:;">Нэгтгэл</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block content %}
<div id="main-content">
	<div class="container-fluid">
		<div class="row-fuild">
			<div class="span8">
				<div class="space20"></div>
				<div class="widget blue active">
					<div class="widget-title">
						<h4>Санхүү эдийн засгийн мэдээ</h4>
						<span class="tools"><a href="javascript:;" class="icon-chevron-down"></a></span>
					</div>
					<div class="widget-body">
						<table class="table table-bordered table-nemelt">
							<thead>
								<tr>
									<th>№</th>
									<th>Байгууллага</th>
									<th class="nem">НЭР</th>
									<th>Төлөв</th>
									<th>Илгээсэн огноо</th>
								</tr>
							</thead>
							<tbody>
								<input id="t" type="hidden" value="1" name="t">
								{% for t in object_list %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>{{ t.tze }}</td>
									<td class="nem">
										<a href="{% url 'sudalgaa_self' t.id %}">{{ t.year }} оны санхүүгийн судалгаа</a>
									</td>
									<td><span class="label {% if t.yvts == 'Илгээсэн' %}label-warning{% elif t.yvts == 'Буцаасан' %}label-important{% else %}label-success{% endif %}">{{ t.yvts }}</span></td>
									<td>{{ t.end_time|date:"Y-m-d" }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
      <div class="span4">
        <div class="space20"></div>
        <div class="widget purple active">
          <div class="widget-title">
            <h4>Санхүү эдийн засгийн мэдээ</h4>
            <span class="tools"><a href="javascript:;" class="icon-chevron-down"></a></span>
          </div>
          <div class="widget-body">
          </div>
        </div>
      </div>
		</div>
	</div>
</div>
{% endblock %}