{% load static %}


<div class="modal1-uuganaa-header">
  <button class="close">&times</button>
 <h4>Төлөв өөрчлөх</h4>
</div>
<form id="abb_approve_form_id" class="form-horizontal" action="{{view_url}}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
  <div class="modal1-uuganaa-body">
    <div class="row-fluid">
      <div class="alert alert-info">
        Ашиглалтыг хариуцаж буй орон сууц барилга байгууламжийг баталгаажуулах уу? <span class="label label-success">Баталгаажсан</span>
      </div>
      <div style="display: none;" id="container_chosen_objs">
      </div>
  </div><!-- row-fluid -->
</div>

<div class="modal1-uuganaa-footer">
  <a class="btn btn-default" data-data="modal" aria-hidden="true">Үгүй</a>
  <button class="btn btn-success" onclick="submitForm_modal_general_ajax('#abb_approve_form_id')">Тийм</button>
</div>
</form>   

<script src="{% static 'assets/js/submit_form.js' %}"></script>
<script src="{% static 'assets/js/a.js' %}"></script>
<script type="text/javascript">
  $("#abb_approve_form_id").submit(function(eventObj){
    //alert('submitting abb_approve_form_id');
    $('input[name="chosen_objs"]:checked').clone().appendTo("#container_chosen_objs");
  });
</script>


