{% load static %}
<div class="modal1-uuganaa-header">
    <button class="close">×</button>
    <h4>Тусгай зөвшөөрөл эзэмшигчийн хэрэглэгчдийн тоо</h4>
</div>
<form action="{% url 'hereglegch' %}" id="hereglegchform" class="hereglegch" method="post">{% csrf_token %}
    <div id="hereglegch-modal-body" class="modal1-uuganaa-body portlet-scroll-2">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Үзүүлэлтүүд</th>
                <th>Хэмжих нэгж</th>
                <th>Цэвэр ус</th>
                <th>Бохир ус</th>
            </tr>
            <tr>
                <td>ААНБайгууллага /тоолууртай/</td>
                <td>тоо, ш</td>
                <td>{{ form.su_0 }}</td>
                <td>{{ form.su_1 }}</td>
            </tr>
            <tr>
                <td>ААНБайгууллага /тоолуургүй/</td>
                <td>тоо, ш</td>
                <td>{{ form.su_2 }}</td>
                <td>{{ form.su_3 }}</td>
            </tr>
            <tr>
                <td>Спирт, архи, пиво, усны үйлдвэр, машин угаалга</td>
                <td>тоо, ш</td>
                <td>{{ form.su_4 }}</td>
                <td>{{ form.su_5 }}</td>
            </tr>
            <tr>
                <td>Ноос ноолуур, арьс шир, өлөн гэдэс боловсруулах үйлдвэр</td>
                <td>тоо, ш</td>
                <td>{{ form.su_6 }}</td>
                <td>{{ form.su_7 }}</td>
            </tr>
            <tr>
                <td>Зөөврөөр</td>
                <td>тоо, ш</td>
                <td>{{ form.su_8 }}</td>
                <td>{{ form.su_9 }}</td>
            </tr>
            <tr>
                <td>Айл өрх /тоолууртай/</td>
                <td>тоо, ш</td>
                <td>{{ form.su_10 }}</td>
                <td>{{ form.su_11 }}</td>
            </tr>
            <tr>
                <td>Айл өрх /тоолуургүй/</td>
                <td>тоо, ш</td>
                <td>{{ form.su_12 }}</td>
                <td>{{ form.su_13 }}</td>
            </tr>
            <tr>
                <td>Ус түгээх байр -УТБ</td>
                <td>тоо, ш</td>
                <td>{{ form.su_14 }}</td>
                <td>{{ form.su_15 }}</td>
            </tr>
            <tr>
                <td>Айл өрх зөөврөөр</td>
                <td>тоо, ш</td>
                <td>{{ form.su_16 }}</td>
                <td>{{ form.su_17 }}</td>
            </tr>
        </table>
    </div>
    <div class="modal1-uuganaa-footer">
        {% if hereglegch %}
        <a href="javascript:;" url-data="{% url 'hereglegchlist' %}" class="btn btn-default ajax_div_load">Буцах</a>
        {% else %}
        <a data-data="modal" class="btn btn-default">Цуцлах</a>
        {% endif %}
        <button type="submit" value="hereglegch" name="action" class="btn btn-success">Хадгалах</button>
    </div>
</form>
<script src="{% static 'assets/js/a.js' %}"></script>