<div class="modal1-uuganaa-header">
  <button class="close">×</button>
  <h4>Гадны үйлчилгээний хөлс</h4>
</div>
<form action="{% url 'zardal13' %}" class="zardal13" method="post">{% csrf_token %}
  <div id="zardal13-modal-body" class="modal1-uuganaa-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th rowspan="3"></th>
          <th rowspan="3">Хэмжих нэгж</th>
          <th colspan="4" style="text-align: center;">Цэвэр, бохир ус</th>
          <th rowspan="3">Цахилгаан</th>
          <th rowspan="3">Дулаан</th>
          <th rowspan="3">Бусад</th>
        </tr>
        <tr>
          <th colspan="2">Төвлөрсөн шугамын</th>
          <th rowspan="2">Зөөвөр, УТБ</th>
          <th width="120" rowspan="2">Бусад (Бохир өргөх насос, г,м)</th>
        </tr>
        <tr>
          <th>Цэвэр ус</th>
          <th>Бохир ус</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Зохицуулах үйлчилгээний хөлс</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z13_0 }}</td>
          <td>{{ form.z13_1 }}</td>
          <td>{{ form.z13_2 }}</td>
          <td>{{ form.z13_3 }}</td>
          <td>{{ form.z13_4 }}</td>
          <td>{{ form.z13_5 }}</td>
          <td>{{ form.z13_6 }}</td>
        </tr>
        <tr>
          <td>Түрээс</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z13_7 }}</td>
          <td>{{ form.z13_8 }}</td>
          <td>{{ form.z13_9 }}</td>
          <td>{{ form.z13_10 }}</td>
          <td>{{ form.z13_11 }}</td>
          <td>{{ form.z13_12 }}</td>
          <td>{{ form.z13_13 }}</td>
        </tr>
        <tr>
          <td>Аудит</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z13_14 }}</td>
          <td>{{ form.z13_15 }}</td>
          <td>{{ form.z13_16 }}</td>
          <td>{{ form.z13_17 }}</td>
          <td>{{ form.z13_18 }}</td>
          <td>{{ form.z13_19 }}</td>
          <td>{{ form.z13_20 }}</td>
        </tr>
        <tr>
          <td>Програм хангамж</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z13_21 }}</td>
          <td>{{ form.z13_22 }}</td>
          <td>{{ form.z13_23 }}</td>
          <td>{{ form.z13_24 }}</td>
          <td>{{ form.z13_25 }}</td>
          <td>{{ form.z13_26 }}</td>
          <td>{{ form.z13_27 }}</td>
        </tr>
        <tr>
          <td>Банкны үйлчилгээ</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z13_28 }}</td>
          <td>{{ form.z13_29 }}</td>
          <td>{{ form.z13_30 }}</td>
          <td>{{ form.z13_31 }}</td>
          <td>{{ form.z13_32 }}</td>
          <td>{{ form.z13_33 }}</td>
          <td>{{ form.z13_34 }}</td>
        </tr>
        <tr>
          <td>Шүүхийн үйлчилгээ</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z13_35 }}</td>
          <td>{{ form.z13_36 }}</td>
          <td>{{ form.z13_37 }}</td>
          <td>{{ form.z13_38 }}</td>
          <td>{{ form.z13_39 }}</td>
          <td>{{ form.z13_40 }}</td>
          <td>{{ form.z13_41 }}</td>
        </tr>
        <tr>
          <td>Бусад</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z13_42 }}</td>
          <td>{{ form.z13_43 }}</td>
          <td>{{ form.z13_44 }}</td>
          <td>{{ form.z13_45 }}</td>
          <td>{{ form.z13_46 }}</td>
          <td>{{ form.z13_47 }}</td>
          <td>{{ form.z13_48 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal1-uuganaa-footer">
    {% if tailan.zardal.z13 %}
    <a href="javascript:;" url-data="{% if date %}{% url 'zardal13list' date %}{% else %}{% url 'zardal13list' %}{% endif %}" class="btn btn-default ajax_div_load">Буцах</a>
    {% else %}
    <a data-data="close" class="btn btn-default">Цуцлах</a>
    {% endif %}
    <button type="submit" value="zardal13" name="action" class="btn btn-success">Хадгалах</button>
  </div>
</form>