<div class="modal1-uuganaa-header">
  <button class="close">×</button>
  <h4>Татварын зардал/ААНОАТ-аас бусад/</h4>
</div>
<form action="{% url 'zardal14' %}" class="zardal14" method="post">{% csrf_token %}
  <div id="zardal14-modal-body" class="modal1-uuganaa-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th rowspan="3"></th>
          <th rowspan="3">Хэмжих нэгж</th>
          <th colspan="4" style="text-align: center;">Цэвэр, бохир ус</th>
          <th rowspan="3">Цахилгаан</th>
          <th rowspan="3">Дулаан</th>
          <th rowspan="3">Бусад</th>
        </tr>
        <tr>
          <th colspan="2">Төвлөрсөн шугамын</th>
          <th rowspan="2">Зөөвөр, УТБ</th>
          <th width="120" rowspan="2">Бусад (Бохир өргөх насос, г,м)</th>
        </tr>
        <tr>
          <th>Цэвэр ус</th>
          <th>Бохир ус</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Газрын татвар</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z14_0 }}</td>
          <td>{{ form.z14_1 }}</td>
          <td>{{ form.z14_2 }}</td>
          <td>{{ form.z14_3 }}</td>
          <td>{{ form.z14_4 }}</td>
          <td>{{ form.z14_5 }}</td>
          <td>{{ form.z14_6}}</td>
        </tr>
        <tr>
          <td>Үл хөдлөх хөрөнгийн татвар</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z14_7 }}</td>
          <td>{{ form.z14_8 }}</td>
          <td>{{ form.z14_9 }}</td>
          <td>{{ form.z14_10 }}</td>
          <td>{{ form.z14_11 }}</td>
          <td>{{ form.z14_12 }}</td>
          <td>{{ form.z14_13 }}</td>
        </tr>
        <tr>
          <td>Тээврийн хэрэгслийн татвар</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z14_14 }}</td>
          <td>{{ form.z14_15 }}</td>
          <td>{{ form.z14_16 }}</td>
          <td>{{ form.z14_17 }}</td>
          <td>{{ form.z14_18 }}</td>
          <td>{{ form.z14_19 }}</td>
          <td>{{ form.z14_20 }}</td>
        </tr>
        <tr>
          <td>Бусад</td>
          <td>мян.төгрөг</td>
          <td>{{ form.z14_21 }}</td>
          <td>{{ form.z14_22 }}</td>
          <td>{{ form.z14_23 }}</td>
          <td>{{ form.z14_24 }}</td>
          <td>{{ form.z14_25 }}</td>
          <td>{{ form.z14_26 }}</td>
          <td>{{ form.z14_27 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal1-uuganaa-footer">
    {% if tailan.zardal.z14 %}
    <a href="javascript:;" url-data="{% if date %}{% url 'zardal14list' date %}{% else %}{% url 'zardal14list' %}{% endif %}" class="btn btn-default ajax_div_load">Буцах</a>
    {% else %}
    <a data-data="close" class="btn btn-default">Цуцлах</a>
    {% endif %}
    <button type="submit" value="zardal14" name="action" class="btn btn-success">Хадгалах</button>
  </div>
</form>