{% extends "bichig_barimtuud/show_modal_base.html" %}


{% block header_show %}
Ус, дулаан дамжуулах төв:
{% endblock %}

{% block body_show %}
<a url-data="{% url 'tz_us_dulaan_damjuulah_insert' h.id %}" class="btn btn-primary ajax_div_load"><i class="icon-edit"></i>Ус дамжуулах төв нэмэх</a>
<div class="space10"></div>
{% if usdamjuulah %}
  <div class="alert alert-block alert-info fade in">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <p>
      Системд ус дамжуулах төв нийт {{usdamjuulah|length}} бүртгэлтэй байна.
    </p>
    <p>
      Хэрвээ системд ус дамжуулах төв нэмж бүртгэх бол "Ус дамжуулах төв нэмэх" дээр дарна уу.
    </p>
    <p>
      Хэрвээ материалын статус солих бол "Статус солих" дээр дарна уу.
    </p>
  </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>№</th>
          <th>Ус дулаан дамжуулах төвийн төрөл</th>
          <th>Ашиглалтанд орсон огноо</th>
          <th>Бүртгэгдсэн огноо</th>
          <th>Дэлгэрэнгүй</th>
        </tr>
      </thead>
      <tbody>
        {% for i in usdamjuulah %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{i.torol}}</td>
          <td>{{i.ashiglaltand_orson_ognoo}}</td>
          <td>{{i.begin_time|date:"Y-m-d"}}</td>
         <td><a href="javascript:;"  class="ajax_div_load" url-data="{% url 'tze_us_damjuulah_delgerengui' i.id %}">Дэлгэрэнгүй...</a></td>
       </tr>
       {% endfor %}


     </tbody>
   </table>
{% else %}
<div class="alert alert-block alert-info fade in">
  <p>
    Системд ус дамжуулах төв бүртгэгдээгүй байна. "Ус дамжуулах төв нэмэх" дээр дарж бүртгэнэ үү.
  </p>
</div>
{% endif %}
{% endblock %}

{% block footer_show %}
<a class="btn btn-default div-close-button" aria-hidden="true">Хаах</a>
{% if usdamjuulah %}
<a href="javascript:;" url-data='{% url "material_choose 16" huselt_id=h.id material_number=21 %}' class="btn btn-primary ajax_div_load">Статус солих</a>
{% endif %}
{% endblock %}

