{% extends "bichig_barimtuud/show_modal_base.html" %}


{% block header_show %}
Усны шинжилгээ:
{% endblock %}

{% block body_show %}

{% if us_shinjilgee %}
 <table class="table table-bordered">
 	<thead>
 		<th>Төрөл</th>
 		<th>Огноо</th>
 		<th>МХЕГ-ын дүгнэлт</th>
 		<th>Дэлгэрэнгүй</th>
 	</thead>
 	<tbody>
 		<td>{{us_shinjilgee.torol}}</td>
 		<td>{{us_shinjilgee.ognoo|date:"Y-m-d"}}</td>
 		<td><a href="/media/{{us_shinjilgee.mheg_dugnelt}}" target="_blank">МХЕГ-ын дүгнэлт файл</a></td>
 		<td><a href="javascript:;" class="ajax_div_load" url-data="{% url 'tze_ua_water_analysis_delgerengui' us_shinjilgee.id %}">Дэлгэрэнгүй...</a></td>
 	</tbody>
 </table>
{% else %}
<div class="alert alert-block alert-info fade in">
  <p>
    Цэвэр усны шинжилгээ нэмэх бол "Цэвэр усны шинжилгээ нэмэх" товчлуур дээр дарна уу.
  </p>
</div>
 {% endif %}
{% endblock %}

{% block footer_show %}
<a class="btn btn-default div-close-button">Хаах</a>
{% if us_shinjilgee %}
<a class="btn btn-primary ajax_div_load" url-data= "{% url 'tz_huselt_us_shijilgee_update' h.burdel.id %}"><i class="icon-edit"></i>Цэвэр усны шинжилгээ засах</a>
{% else %}
<a class="btn btn-primary ajax_div_load" url-data= "{% url 'tz_huselt_us_shijilgee_insert' h.burdel.id %}"><i class="icon-edit"></i>Цэвэр усны шинжилгээ нэмэх</a>
{% endif %}
{% endblock %}



