{% extends "bichig_barimtuud/show_modal_base.html" %}

{% block header_show %}
Цэвэр усны лаборатори:
{% endblock %}

{% block body_show %}
<a url-data="{% url 'tz_lab_insert' h.id %}"  class="btn btn-primary ajax_div_load"><i class="icon-edit"></i>Лаборатори нэмэх</a>
<div class="space10"></div>
{% if elab %}
<div class="alert alert-block alert-info fade in">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <p>
      Системд цэвэр усны лаборатори нийт {{elab|length}} бүртгэлтэй байна.
    </p>
    <p>
      Хэрвээ цэвэр усны лаборатори нэмж бүртгэх бол "Лаборатори нэмэх" дээр дарна уу.
    </p>
    <p>
      Хэрвээ материалын статус солих бол "Статус солих" дээр дарна уу.
    </p>
  </div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>№</th>
				<th>Төрөл</th>
				<th>Шинжилгээний төрлийн тоо</th>
				<th>Ашиглалтанд орсон огноо</th>
				<th>Дэлгэрэнгүй</th>
			</tr>
		</thead>
		<tbody>
			{% for i in elab %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{i.torol}}</td>
				<td>{{i.shinjilgee_count}}</td>
				<td>{{i.ashiglaltand_orson_ognoo}}</td>
				<td><a href="javascript:;" class="ajax_div_load" url-data="{% url 'tze_lab_delgerengui' i.id  %}">Дэлгэрэнгүй...</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
<div class="alert alert-block alert-info fade in">
  <p>
    Системд цэвэр усны түгээх шугам бүртгэгдээгүй байна. "Шугам нэмэх" дээр дарж бүртгэнэ үү.
  </p>
</div>
 {% endif %}
{% endblock %}

{% block footer_show %}
<a class="btn btn-default div-close-button" aria-hidden="true">Хаах</a>
{% if elab %}
<a href="javascript:;" url-data='{% url "material_choose 16" huselt_id=h.id material_number=19 %}' class="btn btn-primary ajax_div_load">Статус солих</a>
{% endif %}
{% endblock %}

