{% extends 'husnegt/husnegt1.html' %}
{% block content %}
<div id="main-content" style="margin:0;">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="space20"></div>	
				<table class="table table-bordered table-fixed-header table-header-rotated">
					<thead class="header">
						<tr>
							<th>Үзүүлэлт</th>
							<th>Техникийн нөхцөл хүсч өргөдөл гаргасан иргэд, ААНБ</th>
							<th>Усны хэрэглээ-м<sup>3</sup></th>
							<th>Техникийн нөхцөл олгосон иргэд, ААНБ</th>
							<th>Усны хэрэглээ-м<sup>3</sup></th>
							<th>Техникийн нөхцөл олгоогүй өргөдлийн тоо иргэд, ААНБ</th>
							<th>Усны хэрэглээ-м<sup>3</sup></th>
						</tr>
						<tr>
							<th>Хэмжих нэгж</th>
							<th>тоо</th>
							<th>м<sup>3</sup></th>
							<th>тоо</th>
							<th>м<sup>3</sup></th>
							<th>тоо</th>
							<th>м<sup>3</sup></th>
						</tr>
					</thead>
					<tbody>
						{% for t in tailan %}
						<tr>
							<td>{{ t.month }} сар</td>
							<td>{{ t.tehnik_nohtsol.tehnik_nohtsol.all.0.too }}</td>
							<td>{{ t.tehnik_nohtsol.tehnik_nohtsol.all.0.us }}</td>
							<td>{{ t.tehnik_nohtsol.tehnik_nohtsol.all.1.too }}</td>
							<td>{{ t.tehnik_nohtsol.tehnik_nohtsol.all.1.us }}</td>
							<td>{{ t.m }}</td>
							<td>{{ t.m1 }}</td>
						</tr>
						{% endfor %}
						<tr>
							<td>Өссөн дүнгээр</td>
							<td>{{ a }}</td>
							<td>{{ b }}</td>
							<td>{{ d }}</td>
							<td>{{ e }}</td>
							<td>{{ f }}</td>
							<td>{{ g }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}