{% extends 'base_base.html' %}
{% block sidebar %}
{% endblock %}
{% block content %}
<div id="main-content" style="margin:0;">
	<div class="container-fluid">
		<div class="span12">
			<div class="space5"></div>
      <h5 class="pull-right">Хүснэгт1</h5>
      <div class="space5"></div>
      <h5 class="pull-right">Санхүү эдийн засгийн судалгаа</h5>
			<h5>"..............................................." .......ХК-ний Нийт үйл ажиллагааны Санхүү - эдийн засгийн үндсэн үзүүлэлтүүд /ТЭЗҮ/</h5>
			<table class="table table-bordered table-fixed-header">
				<thead class="header">
				<tr>
					<th rowspan="2">№</th> <th rowspan="2">Үзүүлэлт</th> <th rowspan="2">Хэмжих нэгж</th> <th colspan="4">Сүүлийн 3 жилийн үзүүлэлт</th>
				</tr>
				<tr>
					<th>2012 он</th>
					<th> 2013 он</th>
					<th>2014 он</th>
					<th>....... он төлөвлөгөө</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>1</td>
					<td>Нийт орлого</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2</td>
					<td>Нийт зардал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>3</td>
					<td>Үйл ажиллагааны ашиг, алдагдал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>4</td>
					<td>Татвар-ААНБОА</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>5</td>
					<td>Татварын дараах ашиг, алдагдал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>6</td>
					<td colspan="6"><b>Тусгай зөвшөөрөл хүсэх үйл ажиллагааны-Цэвэр, бохир усаар</b></td>
				</tr>
				<tr>
					<td>6.1</td>
					<td>Орлого</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>6.2</td>
					<td>Үүнээс:Үндсэн үйл ажиллагааны орлого</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>6.3</td>
					<td>Бусад орлого</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>6.4</td>
					<td>Зардал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td> 
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>6.5</td>
					<td>Ашиг алдагдал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>7</td>
					<td colspan="6"><b>Дулаан хангамжын үйл ажиллагааны</b></td>
				</tr>
				<tr>
					<td>7.1</td>
					<td>Орлого</td>
					<td>мян, төг</td>
					<td></td> 
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>7.2</td>
					<td>Зардал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>7.3</td>
					<td>Ашиг алдагдал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>8</td>
					<td colspan="6"><b>Цахилгаан үйл ажиллагааны</b></td>
				</tr>
				<tr>
					<td>8.1</td>
					<td>Орлого</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>8.2</td>
					<td>Зардал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>8.3</td>
					<td>Ашиг алдагдал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>9</td>
					<td colspan="6"><b>Бусад үйл ажиллагааны</b></td>
				</tr>
				<tr>
					<td>9.1</td>
					<td>Орлого</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>9.2</td>
					<td>Зардал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>9.3</td>
					<td>Ашиг алдагдал</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>10</td>
					<td colspan="6"><b>Үндсэн хөрөнгө /Өртөг үнээр/</b></td>
				</tr>
				<tr>
					<td>10.1</td>
					<td>Үүнээс: Усны ТЗ-н үйл ажиллагаанд ногдох</td>
					<td>мян, төг</td>
					<td></td>
					<td></td> 
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>11</td>
					<td colspan="6"><b>Эргэлтийн хөрөнгийн дүн</b></td>
				</tr>
				<tr>
					<td>11.1</td>
					<td>Үүнээс мөнгөн хөрөнгө</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
					<td>Нийт авлага - Балансаар</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>13</td>
					<td>Нийт өглөг - Балансаар</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>14</td>
					<td><b>Нийт ажиллагсад</b></td>
					<td>тоо</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>15</td>
					<td>Цалингийн сан</td>
					<td>мян, төг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>16</td>
					<td>Дундаж цалин</td>
					<td>төгрөг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>17</td>
					<td><b>Байгууллагын орлогын 1 төгрөгт ногдох зардал</b></td>
					<td>төгрөг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>18</td>
					<td><b>Сахүү-эдийн засгийн харьцаа</b></td>
					<td>төгрөг</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>18.1</td>
					<td>Эргэлтийн харьцаа</td>
					<td>1-с дээш</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>18.2</td>
					<td>Төлбөр гүйцэтгэх чадварын харьцаа</td>
					<td>2-с дээш</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>18.3</td>
					<td>Ашгийн норм</td>
					<td>0-с дээш</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				</tbody>
			</table>
      <div class="space5"></div>
      <div class="span4 offset2">
      <h5>".......................".......ХК-ний Захирал ....................//</h5>
      <h5>Ерөнхий нягтлан.............//</h5>
      <h5>Эдийн засагч................//</h5>
      </div>
		</div>
	</div>
</div>
<script>
</script>
{% endblock %}
