{% extends 'husnegt/husnegt1.html' %}
{% block content %}
<div id="main-content" style="margin:0;">
    <div class='container-fluid'>
        <div class="span12">
            <div class="space5"></div>
            <h5 class="pull-right">Хүснэгт 2</h5>
            <div class="space5"></div>
            <h5>"...................................................." ХХК -ний .................оны   ЗАРДАЛ, ОРЛОГЫН ТӨЛӨВЛӨГӨӨ, ГҮЙЦЭТГЭЛ   / мян. төгрөгөөр /</h5>
            <table class="table table-bordered table-striped table-fixed-header">
                <thead class="header">
		<tr>
			<th colspan="3" rowspan="2">Хэрэглэгчийн ангилал</th> <th rowspan="2">хэмжих нэгж</th> <th colspan="2">Өмнөх оны гүйцэтгэл</th> <th colspan="2">Тухайн оны жилийн дүнгээр</th> <th colspan="2">Өөрчлөлт /өмнөх оны гүйцэтгэлээс/</th>
		</tr>
		<tr>
			<th>Борлуулсан ус /мян.м3/</th> <th>Борлуулалт орлого /мян.төгрөг/</th> <th>Борлуулсан ус /мян.м3/</th> <th>Борлуулалт орлого /мян.төгрөг/</th> <th>Борлуулсан ус /мян.м3/</th> <th>Борлуулалт орлого /мян.төгрөг/</th>
		</tr>
		</thead>
		<tr>
			<td>1</td> <td colspan="2">Тусгай зөвшөөрлийн үйл ажиллагааны НИЙТ ОРЛОГО</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1</td> <td colspan="2">Цэвэр усны орлогын дүн</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.1</td> <td rowspan="3">ААНБ-ын хэрэглэгч</td> <td>ААНБайгууллага</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.2</td> <td>Спирт, архи, пиво, усны үйлдвэр, машин угаалга</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.3</td> <td>Ноос ноолуур, арьс шир, өлөн гэдэс боловсруулах үйлдвэр</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.4</td> <td rowspan="2">Ахуйн хэрэглэгч</td> <td>тоолууртай</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.5</td> <td>тоолуургүй</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		
		
		<tr>
			<td>1.2</td> <td colspan="2">Бохир ус татан зайлуулсан орлогын дүн</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.1</td> <td rowspan="3">ААНБ-ын хэрэглэгч</td> <td>ААНБайгууллага</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.2</td> <td>Спирт, архи, пиво, усны үйлдвэр, машин угаалга</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.3</td> <td>Ноос ноолуур, арьс шир, өлөн гэдэс боловсруулах үйлдвэр</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.4</td> <td rowspan="2">Ахуйн хэрэглэгч</td> <td>тоолууртай</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.5</td> <td>тоолуургүй</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		
		
		<tr>
			<td>3.3</td> <td colspan="2">Суурь хураамжийн орлогын дүн</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>3.3.1</td> <td colspan="2">ААНБайгууллагын</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>3.3.2</td> <td colspan="2">Айл өрхийн</td> <td>мян.төг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		
		
		<tr>
			<td>4</td> <td colspan="2">Борлуулалтын дундаж үнэ</td> <td>төгрөг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>4.1</td> <td colspan="2">Цэвэр усны дундаж үнэ</td> <td>төгрөг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>4.2</td> <td colspan="2">Бохир усны дундаж үнэ</td> <td>төгрөг</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
	</table>
	</div>
	</div>
	</div>
{% endblock %}