{% extends 'husnegt/husnegt1.html' %}
{% block content %}
<div id="main-content" style="margin:0;">
    <div class='container-fluid'>
        <div class="span12">
            <div class="space5"></div>
            <h5 class="pull-right">Хүснэгт 2</h5>
            <div class="space5"></div>
            <h5>"...................................................." ХХК -ний .................оны   ЗАРДАЛ, ОРЛОГЫН ТӨЛӨВЛӨГӨӨ, ГҮЙЦЭТГЭЛ   / мян. төгрөгөөр /</h5>
            <table class="table table-bordered table-striped table-fixed-header">
                <thead class="header">
		<tr>
			<th colspan="3" rowspan="2">Хэрэглэгчийн ангилал</th> <th rowspan="2">хэмжих нэгж</th> <th colspan="13">Хэрэглэгчийн усны бичилт - мян.м<sup>3</sup></th> 
		</tr>
		<tr>
			<th>1-р сар</th> <th>2-р сар</th> <th>3-р сар</th> <th>4-р сар</th> <th>5-р сар</th> <th>6-р сар</th> <th>7-р сар</th> <th>8-р сар</th> <th>9-р сар</th> <th>10-р сар</th> <th>11-р сар</th> <th>12-р сар</th> <th>2014 онд</th> 
		</tr>
		</thead>
		<tr>
			<td>1</td> <td colspan="16">БОРЛУУЛАЛТЫН БИЧИЛТ ХИЙСЭН НИЙТ УСНЫ БИЕТ ХЭМЖЭЭ</td>
		</tr>
		<tr>
			<td>1.1</td> <td colspan="2">Цэвэр усны борлуулалтын дүн</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.1</td> <td rowspan="3">ААНБ-ын хэрэглэгч</td> <td>ААНБайгууллага</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.2</td> <td>Спирт, архи, пиво, усны үйлдвэр, машин угаалга</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.3</td> <td>Ноос ноолуур, арьс шир, өлөн гэдэс боловсруулах үйлдвэр</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.4</td> <td rowspan="2">Ахуйн хэрэглэгч</td> <td>тоолууртай</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.1.5</td> <td>тоолуургүй</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		
		
		<tr>
			<td>1.2</td> <td colspan="2">Бохир ус татан зайлуулсан орлогын дүн</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.1</td> <td rowspan="3">ААНБ-ын хэрэглэгч</td> <td>ААНБайгууллага</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.2</td> <td>Спирт, архи, пиво, усны үйлдвэр, машин угаалга</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.3</td> <td>Ноос ноолуур, арьс шир, өлөн гэдэс боловсруулах үйлдвэр</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.4</td> <td rowspan="2">Ахуйн хэрэглэгч</td> <td>тоолууртай</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>1.2.5</td> <td>тоолуургүй</td> <td>мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
</table>
</div>
</div>
</div>
{% endblock %}