{% extends 'husnegt/husnegt1.html' %}
{% block content %}
<div id="main-content" style="margin-left: 0px;">
	<div class="container-fluid">
		<div class="span12">
			<div class="space5"></div>
      <h5 class="pull-right">Хүснэгт1</h5>
      <div class="space5"></div>
      <h5 class="pull-right">Санхүү эдийн засгийн судалгаа</h5>
			<h5>"..............................................." .......ХК-ний Нийт үйл ажиллагааны Санхүү - эдийн засгийн үндсэн үзүүлэлтүүд /ТЭЗҮ/</h5>
			<table class="table table-bordered table-striped table-fixed-header">
				<thead class="header">
		<tr>
			<th rowspan="2">№</th> <th rowspan="2">Зардлын төрөл</th> <th rowspan="2">Өмнөх оны гүйцэтгэл 2013 он</th> <th colspan = "2">Тухайн оны жилийн дүнгээр 2014 он</th> <th colspan = "2">Өөрчлөлт</th>
		</tr>
		<tr>
			<th>Төлөвлөгөө</th> <th>Гүйцэтгэл</th> <th>Өмнөх оноос</th> <th>Төлөвлөгөөнөөс</th>
		</tr>
		</thead>
		<tr>
			<td>1</td> <td>Цэвэр усны худалдан авалт</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>2</td> <td>Бохир усны худалдан авалт</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>3</td> <td>Үндсэн ба нэмэгдэл цалин</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>4</td> <td>Байгууллагаас төлөх ЭМ, НДШ</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>5</td> <td>Засварын сэлбэг хэрэгсэл</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>6</td> <td>Түлш шатахууны зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>7</td> <td>Ашиглалтын зардал - Цахилгаан</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>8</td> <td>Ашиглалтын зардал - Дулаан</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>9</td> <td>Ашиглалтын зардал - Ус</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>10</td> <td>Албан томилолтын зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>11</td> <td>Бичиг хэргийн зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>12</td> <td>Харилцаа холбооны зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>13</td> <td>Хөдөлмөр хамгааллын зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>14</td> <td>Гүйцэтгэх удирдлагын зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>15</td> <td>Борлуулалт, маркетингийн зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>16</td> <td>Сургалтын зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>17</td> <td>Зохицуулалтын үйлчилгээний хөлс</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>18</td> <td>Гадны үйлчилгээний хөлс</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>19</td> <td>Түрээсийн зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>20</td> <td>Үйл ажиллагааны бусад зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td colspan="2">Үндсэн үйл ажиллагааны зардлын дүн</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>21</td> <td>Элэгдлийн зардлын дүн</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>22</td> <td>Үл хөдлөх хөрөнгийн татвар</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>23</td> <td>АТӨЯХ-ийн албан татвар</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>24</td> <td>Газрын төлбөр</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>25</td> <td>Бусад татвар хураамж</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td colspan="2">Орлогын албан татвараас бусад татвар</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td colspan="2">Бүрэн өөрийн өртөг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>26</td> <td>Ажиллагсадын нийгмийн зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>27</td> <td>Зээлийн хүүгийн зардал</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td>28</td> <td>Урт хугацаат зээлийн үндсэн төлбөр</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td colspan="2">Хөрөнгө оруулалтын өгөөжийн дүн</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td colspan="2">Борлуулалтын орлогын шаардагдах хэмжээ /БОШ/</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td colspan="2">Борлуулсан цэвэр ус - мян.м<sup>3</sup></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
		<tr>
			<td colspan="2">1 м<sup>3</sup> усны дундаж өртөг</td> <td></td> <td></td> <td></td> <td></td> <td></td>
		</tr>
	</table>
</div>
</div>
</div>
{% endblock %}