<div class="modal1-uuganaa-header">
  <button class="close">×</button>
  <h4>Тусгай зөвшөөрөл эзэмшигч</h4>
</div>
<div class="modal1-uuganaa-body">       
  <table class="table">
    <tr>
      <td>Усны хэсгийн бусад орлого</td>
      <td>{{ tailan.busad_orlogo.unt }}</td>
    </tr>
    <tr>
      <td>Дулааны борлуулалтын орлого</td>
      <td>{{ tailan.busad_orlogo.unt0 }}</td>
    </tr>
    <tr>
      <td>дулааны хэсгийн бусад орлого</td>
      <td>{{ tailan.busad_orlogo.unt1 }}</td>
    </tr>
    <tr>
      <td>Цахилгааны борлуулалтын орлого</td>
      <td>{{ tailan.busad_orlogo.unt2 }}</td>
    </tr>
    <tr>
      <td>цахилгааны хэсгийн бусад орлого</td>
      <td>{{ tailan.busad_orlogo.unt3 }}</td>
    </tr>
    <tr>
      <td>Бусад орлого</td>
      <td>{{ tailan.busad_orlogo.unt4 }}</td>
    </tr>
    <tr>
      <td>Үндсэн бус үйл ажиллагааны орлого</td>
      <td>{{ tailan.busad_orlogo.unt5 }}</td>
    </tr>
  </table>
</div>
<div class="modal1-uuganaa-footer">
  <button data-data="modal" class="btn btn-default">Цуцлах</button>
</div>