<div class="modal1-uuganaa-header">
    <button class="close">×</button>
    <h4>Цэвэр усны голчийн суурь үнэ</h4>
</div>
<div class="modal1-uuganaa-body portlet-scroll-2">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Цэвэр усны оролтын шугамын голч, мм-р</th>
                <th>Нэгж үнэ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>15</td>
                <td>{{ tariffgolch.tariff.all.0.une }}</td>
            </tr>
            <tr>
                <td>20</td>
                <td>{{ tariffgolch.tariff.all.1.une }}</td>
            </tr>
            <tr>
                <td>25</td>
                <td>{{ tariffgolch.tariff.all.2.une }}</td>
            </tr>
            <tr>
                <td>32</td>
                <td>{{ tariffgolch.tariff.all.3.une }}</td>
            </tr>
            <tr>
                <td>40</td>
                <td>{{ tariffgolch.tariff.all.4.une }}</td>
            </tr>
            <tr>
                <td>50</td>
                <td>{{ tariffgolch.tariff.all.5.une }}</td>
            </tr>
            <tr>
                <td>65</td>
                <td>{{ tariffgolch.tariff.all.6.une }}</td>
            </tr>
            <tr>
                <td>80</td>
                <td>{{ tariffgolch.tariff.all.7.une }}</td>
            </tr>
            <tr>
                <td>100</td>
                <td>{{ tariffgolch.tariff.all.8.une }}</td>
            </tr>
            <tr>
                <td>125</td>
                <td>{{ tariffgolch.tariff.all.9.une }}</td>
            </tr>
            <tr>
                <td>150</td>
                <td>{{ tariffgolch.tariff.all.10.une }}</td>
            </tr>
            <tr>
                <td>200</td>
                <td>{{ tariffgolch.tariff.all.11.une }}</td>
            </tr>
            <tr>
                <td>250</td>
                <td>{{ tariffgolch.tariff.all.12.une }}</td>
            </tr>
            <tr>
                <td>300</td>
                <td>{{ tariffgolch.tariff.all.13.une }}</td>
            </tr>
            <tr>
                <td>400-с дээш</td>
                <td>{{ tariffgolch.tariff.all.14.une }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal1-uuganaa-footer">
   <button data-data="modal" class="btn btn-default">Цуцлах</button>
</div>
