<div class="modal1-uuganaa-header">
  <button class="close">×</button>
  <h4>Цалин</h4>
</div>
<div class="modal1-uuganaa-body">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th width="80"></th>
        <th width="80">Ажилчдын тоо</th>
        <th width="80">Үндсэн цалин</th>
        <th width="80">Нэмэгдэл</th>
        <th width="80">Сарын үр дүн</th>
        <th width="90">Жилийн үр дүнгийн шагналт цалин</th>
        <th width="80">Нийт цалин</th>
        <th width="90">Нэмэгдэл цалингийн эзлэх хувь</th>
        <th width="90">Сарын шагналт цалингийн хувь</th>
        <th width="90">ЖҮДШ цалингийн дундаж хэмжээ</th>
        <th width="90">Дундаж цалин /сарын/</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Удирдлага</td>
        <td>{{ tailan.tsalin.tsalin.all.0.too }}</td>
        <td>{{ tailan.tsalin.tsalin.all.0.undsen_tsalin }}</td>
        <td>{{ tailan.tsalin.tsalin.all.0.nemegdel }}</td>
        <td>{{ tailan.tsalin.tsalin.all.0.sariin_ur_dun }}</td>
        <td>{{ tailan.tsalin.tsalin.all.0.jiliin_ur_dun_shagnalt_tsalin }}</td>
        <td>{{ tailan.tsalin.tsalin.all.0.niit_salary }}</td>
        <td>{{ tailan.tsalin.tsalin.all.0.nemegdel_huvi }} %</td>
        <td>{{ tailan.tsalin.tsalin.all.0.sariin_huvi }} %</td>
        <td>{{ tailan.tsalin.tsalin.all.0.jiliin_huvi }} %</td>
        <td>{{ tailan.tsalin.tsalin.all.0.dundaj }}</td>
      </tr>
      <tr>
        <td>ИТА, Албан хаагч</td>
        <td>{{ tailan.tsalin.tsalin.all.1.too }}</td>
        <td>{{ tailan.tsalin.tsalin.all.1.undsen_tsalin }}</td>
        <td>{{ tailan.tsalin.tsalin.all.1.nemegdel }}</td>
        <td>{{ tailan.tsalin.tsalin.all.1.sariin_ur_dun }}</td>
        <td>{{ tailan.tsalin.tsalin.all.1.jiliin_ur_dun_shagnalt_tsalin }}</td>
        <td>{{ tailan.tsalin.tsalin.all.1.niit_salary }}</td>
        <td>{{ tailan.tsalin.tsalin.all.1.nemegdel_huvi }} %</td>
        <td>{{ tailan.tsalin.tsalin.all.1.sariin_huvi }} %</td>
        <td>{{ tailan.tsalin.tsalin.all.1.jiliin_huvi }} %</td>
        <td>{{ tailan.tsalin.tsalin.all.1.dundaj }}</td>
      </tr>
      <tr>
        <td>Ажилчид </td>
        <td>{{ tailan.tsalin.tsalin.all.2.too }}</td>
        <td>{{ tailan.tsalin.tsalin.all.2.undsen_tsalin }}</td>
        <td>{{ tailan.tsalin.tsalin.all.2.nemegdel }}</td>
        <td>{{ tailan.tsalin.tsalin.all.2.sariin_ur_dun }}</td>
        <td>{{ tailan.tsalin.tsalin.all.2.jiliin_ur_dun_shagnalt_tsalin }}</td>
        <td>{{ tailan.tsalin.tsalin.all.2.niit_salary }}</td>
        <td>{{ tailan.tsalin.tsalin.all.2.nemegdel_huvi }} %</td>
        <td>{{ tailan.tsalin.tsalin.all.2.sariin_huvi }} %</td>
        <td>{{ tailan.tsalin.tsalin.all.2.jiliin_huvi }} %</td>
        <td>{{ tailan.tsalin.tsalin.all.2.dundaj }}</td> 
      </tr>
      <tr>
        <th>Нийт </th>
        <th>{{ tailan.tsalin.niit_too }}</th>
        <th>{{ tailan.tsalin.niit_undsen_tsalin }}</th>
        <th>{{ tailan.tsalin.niit_nemegdel }}</th>
        <th>{{ tailan.tsalin.niit_sariin }}</th>
        <th>{{ tailan.tsalin.niit_jiliin }}</th>
        <th>{{ tailan.tsalin.niit }}</th>
        <th>{{ tailan.tsalin.nemegdel_huvi }} %</th>
        <th>{{ tailan.tsalin.sariin_huvi }} %</th>
        <th>{{ tailan.tsalin.jiliin_huvi }} %</th>
        <th>{{ tailan.tsalin.dundaj }}</th> 
      </tr>
    </tbody>
  </table>
</div>
<div class="modal1-uuganaa-footer">
  <button data-data="modal" class="btn btn-default">Цуцлах</button>
</div>