<div class="modal1-uuganaa-header">
  <button class="close">×</button>
  <h4>Маркетинг, борлуулалтын зардал</h4>
</div>
<div class="modal1-uuganaa-body">    
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="3"></th>
        <th rowspan="3">Хэмжих нэгж</th>
        <th colspan="4" style="text-align: center;">Цэвэр, бохир ус</th>
        <th rowspan="3">Цахилгаан</th>
        <th rowspan="3">Дулаан</th>
        <th rowspan="3">Бусад</th>
        <th rowspan="3">Нийт</th>
      </tr>
      <tr>
        <th colspan="2">Төвлөрсөн шугамын</th>
        <th rowspan="2">Зөөвөр, УТБ</th>
        <th width="120" rowspan="2">Бусад (Бохир өргөх насос, г,м)</th>
      </tr>
      <tr>
        <th>Цэвэр ус</th>
        <th>Бохир ус</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Мэдээлэл сурталчилгаа</td>
        <td>мян.төгрөг</td>
        {% for z8 in tailan.zardal.z8.marketing.all %}
        <td>{{ z8.medeelel_surtalchilgaa }}</td>
        {% endfor %}
        <th>{{ tailan.zardal.z8.total0 }}</th>
      </tr>
      <tr>
        <td>Сургалт</td>
        <td>мян.төгрөг</td>
        {% for z8 in tailan.zardal.z8.marketing.all %}
        <td>{{ z8.surgalt }}</td>
        {% endfor %}
        <th>{{ tailan.zardal.z8.total1 }}</th>
      </tr>
      <tr>
        <td>Борлуулалт дэмжих урамшуулал</td>
        <td>мян.төгрөг</td>
        {% for z8 in tailan.zardal.z8.marketing.all %}
        <td>{{ z8.borluulalt_demjih_uramshuulal }}</td>
        {% endfor %}
        <th>{{ tailan.zardal.z8.total2 }}</th>
      </tr>
      <tr>
        <td>Шалгалт баталгаажуулалт</td>
        <td>мян.төгрөг</td>
        {% for z8 in tailan.zardal.z8.marketing.all %}
        <td>{{ z8.shalgalt_batalgaajuulalt }}</td>
        {% endfor %}
        <th>{{ tailan.zardal.z8.total3 }}</th>
      </tr>
      <tr>
        <td>Бусад</td>
        <td>мян.төгрөг</td>
        {% for z8 in tailan.zardal.z8.marketing.all %}
        <td>{{ z8.busad }}</td>
        {% endfor %}
        <th>{{ tailan.zardal.z8.total4 }}</th>
      </tr>
      <tr>
        <th>Нийт</th>
        <th>мян.төгрөг</th>
        <th>{{ tailan.zardal.z8.sum0 }}</th>
        <th>{{ tailan.zardal.z8.sum1 }}</th>
        <th>{{ tailan.zardal.z8.sum2 }}</th>
        <th>{{ tailan.zardal.z8.sum3 }}</th>
        <th>{{ tailan.zardal.z8.sum4 }}</th>
        <th>{{ tailan.zardal.z8.sum5 }}</th>
        <th>{{ tailan.zardal.z8.sum4 }}</th>
        <th>{{ tailan.zardal.z8.total }}</th>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal1-uuganaa-footer">
  <button data-data="modal" class="btn btn-default">Цуцлах</button>
</div>