<div class="modal1-uuganaa-header">
  <button class="close">×</button>
  <h4>Бусад зардал</h4>
</div>
<div class="modal1-uuganaa-body">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="3"></th>
        <th rowspan="3">Хэмжих нэгж</th>
        <th colspan="4" style="text-align: center;">Цэвэр, бохир ус</th>
        <th rowspan="3">Цахилгаан</th>
        <th rowspan="3">Дулаан</th>
        <th rowspan="3">Бусад</th>
        <th rowspan="3">Нийт</th>
      </tr>
      <tr>
        <th colspan="2">Төвлөрсөн шугамын</th>
        <th rowspan="2">Зөөвөр, УТБ</th>
        <th width="120" rowspan="2">Бусад (Бохир өргөх насос, г,м)</th>
      </tr>
      <tr>
        <th>Цэвэр ус</th>
        <th>Бохир ус</th>
      </tr>
    </thead>
    <tbody>
      {% for t in tailan.zardal.z16.busad_zardal.all %}
      <tr>
        <td>{{ t.name }}</td>
        <td>мян.төгрөг</td>
        {% for busad in t.busad.all %}
        <td>{{ busad.value }}</td>
        {% endfor %}                      
        <th>{{ t.count }}</th>
      </tr>
      {% endfor %}
      <tr>
        <th>Нийт</th>
        <th>мян.төгрөг</th>
        <th>{{ tailan.zardal.z16.sum0 }}</th>
        <th>{{ tailan.zardal.z16.sum1 }}</th>
        <th>{{ tailan.zardal.z16.sum2 }}</th>
        <th>{{ tailan.zardal.z16.sum3 }}</th>
        <th>{{ tailan.zardal.z16.sum4 }}</th>
        <th>{{ tailan.zardal.z16.sum5 }}</th>
        <th>{{ tailan.zardal.z16.sum6 }}</th>
        <th></th>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal1-uuganaa-footer">
  <button data-data="modal" class="btn btn-default">Цуцлах</button>
</div>